#projects {
    background: #fff;
    padding-top: 90px;
    padding-bottom: 72px;
    overflow: hidden;
 }

 .column, .columns {
    position: relative;
    padding: 0 20px;
    min-height: 1px;
    float: left;
}
.row {
    width: 96%;
    max-width: 1020px;
    margin: 0 auto;
}
.smartchat{
    margin-bottom: 48px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E8E8E8;
    height: 358px;
}
.work {
    margin-bottom: 48px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E8E8E8;
    height: 488px;
}
.row .nine {
    width: 75%;
}
div {
    display: block;
}

 #projects a, #projects a:visited  { color: #11ABB0; }
 #projects a:hover, #projects a:focus { color: #313131; }
 *, *:before, *:after {
   
    box-sizing: border-box;
}
 #projects h1 {
    font: 18px/24px 'opensans-bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    padding-right: 20%;
 }
 h1 {
    display: block;
    font-size: 2em;
    margin-bottom: 12px;
    -webkit-margin-end: 0px;
   
}
[class*="column"] + [class*="column"]:last-child {
    float: right;
}
 #projects h1 span {
    border-bottom: 3px solid #11ABB0;
    padding-bottom: 6px;
    
 }
 #projects h3 {
    font: 25px/30px 'opensans-bold', sans-serif;
    width: 95%;
    text-align: center;
    font-style: italic;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin-bottom: 12px;

 }
 .row .twelve {
    width: 100%;
}
 p {
    margin: 0 0 30px 0;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    
}
 #projects .header-col { padding-top: 9px; }
 #projects .main-col { padding-right: 10%; }
 
 .education, .work {
    margin-bottom: 48px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E8E8E8;
 }
 #projects .chat-pic {
     position: relative;
    width: 112px;
    height: 111px;
    border-radius: 50%;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
 
 }
 #projects .logic-pic {
    position: relative;
   width: 161.28px;
   height: 120.96px;
   float: left;
   margin-top: 20px;
   margin-right: 45px;
   transform: rotate(270deg);

}
 #projects .info {
    font: 16px/24px 'librebaskerville-italic', serif;
    color: #6E7881;
    margin-bottom: 18px;
    margin-top: 9px;

 }
p.grade{
    font: 16px/24px 'librebaskerville-italic', serif;
    color: #6E7881;
    margin-bottom: 18px;
    margin-top: 9px;
    height: auto;
}
p.courses{
    font: 16px/24px 'librebaskerville-italic', serif;
    color: #6E7881;
    margin-bottom: 18px;
    margin-top: 9px;
    height: auto;

}
 #projects .achievements{
    font: 16px/24px 'librebaskerville-italic', serif;
    color: #6E7881;
    margin-bottom: 18px;
    margin-top: 9px;
    padding-left: 0%;
 }
 #projects .info span {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    width: 97%;
 }
 #projects .date {
    font: 15px/24px 'opensans-regular', sans-serif;
    margin-top: 6px;
 }
 
 /*----------------------------------------------*/
 /*	Skill Bars
 /*----------------------------------------------*/
 
 .bars {
     width: 95%;
     float: left;
     padding: 0;
     text-align: left;
 }
 .bars .skills {
       margin-top: 36px;
    list-style: none;
 }
 .bars li {
    position: relative;
       margin-bottom: 60px;
       background: #ccc;
       height: 42px;
       border-radius: 3px;
 }
 .bars li em {
     font: 15px 'opensans-bold', sans-serif;
    color: #313131;
     text-transform: uppercase;
    letter-spacing: 2px;
     font-weight: normal;
    position: relative;
     top: -36px;
 }
 .bar-expand {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding-right: 24px;
       background: #313131;
    display: inline-block;
       height: 42px;
    line-height: 42px;
    border-radius: 3px 0 0 3px;
 }
 .Java{
     width: 80%;
 }
 .c{
   width:90%;  
 }
 .Verilog{
     width: 90%;
 }
 .Python{
     width:90%;
 }
 .embedded{
     width: 60%;
 }
 .ROS{
     width: 80%;
 }
 .JavaScript{
     width: 60%;
 }
 .photoshop {
       width: 60%;
       -moz-animation: photoshop 2s ease;
       -webkit-animation: photoshop 2s ease;
 }
 .illustrator {
       width: 55%;
       -moz-animation: illustrator 2s ease;
       -webkit-animation: illustrator 2s ease;
 }
 .wordpress {
       width: 50%;
       -moz-animation: wordpress 2s ease;
       -webkit-animation: wordpress 2s ease;
 }
 .css {
       width: 70%;
       -moz-animation: css 2s ease;
       -webkit-animation: css 2s ease;
 }
 .html5 {
       width: 80%;
       -moz-animation: html5 2s ease;
       -webkit-animation: html5 2s ease;
 }
 .reactjs {
       width: 80%;
       -moz-animation: reactjs 2s ease;
       -webkit-animation: reactjs 2s ease;
 }
 
 @-moz-keyframes photoshop {
   0%   { width: 0px;  }
   100% { width: 60%;  }
 }
 @-moz-keyframes illustrator {
   0%   { width: 0px;  }
   100% { width: 55%;  }
 }
 @-moz-keyframes wordpress {
   0%   { width: 0px;  }
   100% { width: 50%;  }
 }
 @-moz-keyframes css {
   0%   { width: 0px;  }
   100% { width: 70%;  }
 }
 @-moz-keyframes html5 {
   0%   { width: 0px;  }
   100% { width: 80%;  }
 }
 @-moz-keyframes reactjs {
   0%   { width: 0px;  }
   100% { width: 80%;  }
 }
 
 @-webkit-keyframes photoshop {
   0%   { width: 0px;  }
   100% { width: 60%;  }
 }
 @-webkit-keyframes illustrator {
   0%   { width: 0px;  }
   100% { width: 55%;  }
 }
 @-webkit-keyframes wordpress {
   0%   { width: 0px;  }
   100% { width: 50%;  }
 }
 @-webkit-keyframes css {
   0%   { width: 0px;  }
   100% { width: 70%;  }
 }
 @-webkit-keyframes html5 {
   0%   { width: 0px;  }
   100% { width: 80%;  }
 }
 @-webkit-keyframes reactjs {
   0%   { width: 0px;  }
   100% { width: 80%;  }
 }
 